<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="METADATA_BROKER_LIST" value="localhost:9092"/>
        <env name="AUTO_OFFSET_RESET" value="smallest"/>
        <env name="TOPIC_METADATA_REFRESH_SPARSE" value="true"/>
        <env name="TOPIC_METADATA_REFRESH_INTERVAL_MS" value="300000"/>
        <env name="INTERNAL_TERMINATION_SIGNAL" value="29"/>
        <env name="FLUSH_RETRIES" value="10"/>
        <env name="SOCKET_TIMEOUT_MS" value="60000"/>
        <env name="ENABLE_IDEMPOTENCE" value="false"/>
        <env name="FLUSH_TIMEOUT_MS" value="10000"/>
    </php>
</phpunit>
